#body {
	width: 500px;
	background-color: #E6E6E6;
	font-family: Arial, sans-serif;
	border:3px solid blue;
}
button {
	margin-left: 25px;
	margin-bottom: 30px;
}
h1, p {
	padding: 0 0 0 10px;
}